language: node_js
node_js:
  - 7
cache:
  directories:
    - node_modules
after_success:
  - npm run coveralls
deploy:
  provider: npm
  email: patrinhani@ciandt.com
  api_key:
    secure: KXDd4Mj407mBcyaWUap0FzionGcH161V0GUOTjZ39DnAuw8Z8omWjtKmyS6jwyLN3fOwhAH0/xMJmYNfMLjC9pgA78J9hdVSu61PJoY9M2FGJklmoI3d7tRjASo7Jrdc5eYge4NUn2FFB/av8IbL9Jtjb4n1HnnG6RHR9pgK+QI8SxKXq/P3qiBx+qo52AsXe11eKaiQfrYonRPkI4QWlOeTn1lDwYiKK39T1ApaQO11Y1PDpPpR6t6BulWo7mRSwRqvABoeSCnbCpZ4esG0lABSgE9gr+dPv2maaN+z82QHANbe43H4/knPa171jLukBFJRxcvF3dTdf/A3BhrsXNjMX8moSdZVZSM0nmESBtJnchQ4YEN/2jZqVMFzEuPhZn0pJ8emeGMOwZtiMEaa+mkYD5dcuSZVkOLQYKLHFrMHtmsGFqIy7SEEYlAue6T0p9RWbZQMytNA9EZhPj1oasQk1L3lOu+c20qXJyMl07KBna7W1RxPDgC0VjPcSGXmbfpmXtybof8G0IlLvyMcucTinWXRn2MYdLJAOF1z3OP/XtiZJeqzO4+9urIczqYJKXw5ntQSNZ1C88v/IQP2GhZ+Fqzk1s5WYmNoXcFwSPRtLvHv63wK2ZT/XW7m1hEyTQ4dJxtwVegkkzfGIw3Zc0AoHYBRfEiPvchcBnFxP/g=
  on:
    tags: true
    branch: master